<!DOCTYPE html>
<html ng-app="textEditor">
<head>
<title>AngularJS Text Editor</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<style>
textarea {
 width: 100%;
height: 200px;
}
</style>
</head>
<body ng-controller="textEditorCtrl">
<h1>AngularJS Text Editor</h1>
<textarea ng-model="text"></textarea>
<button ng-click="clear()">Clear</button>
<button ng-click="save()">Save</button>
 <div ng-if="savedText.length > 0">
<h2>Saved Text:</h2>
<p>{{ savedText }}</p>
 </div>
<script>
var app = angular.module("textEditor", []);
app.controller("textEditorCtrl", function($scope) {
$scope.text = "";
$scope.savedText = "";
$scope.clear = function() {
$scope.text = "";
};
$scope.save = function() {
$scope.savedText = $scope.text;
};
});
</script>
</body>
</html>
