<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= item.name %></title>
  </head>
  <body>
    <h1><%= item.name %> - <%= item.price %></h1>
    <p><%= item.desc %></p>
  </body>
</html>
