<!DOCTYPE html>
<html ng-app="textEditor">

<head>
    <title>AngularJS Text Editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>

    <style>
        textarea {
            width: 100%;
            height: 200px;
        }
    </style>
</head>

<body ng-controller="textEditorCtrl">
    <h1>AngularJS Text Editor</h1>
    <textarea ng-model="text" id="textArea"></textarea>
    <button ng-click="clear()">Clear</button>
    <button ng-click="save()">Save</button>
    <button ng-click="cut()">Cut</button>
    <button ng-click="copy()">Copy</button>
    <!-- <button ng-click="paste()">Paste</button> -->
    <input type="file" id="fileInput" ng-model="fileContent" onchange="angular.element(this).scope().openFile()" />
    <div ng-if="savedText.length > 0">
        <h2>Saved Text:</h2>
        <p>{{ savedText }}</p>
    </div>
    <script>
        var app = angular.module("textEditor", []);
        app.controller("textEditorCtrl", function ($scope) {
            $scope.text = "";
            $scope.savedText = "";
            $scope.clear = function () {
                $scope.text = "";
            };
            $scope.save = function () {
                $scope.savedText = $scope.text;
            };
            $scope.cut = function () {
                var textArea = document.getElementById("textArea");
                textArea.focus();
                document.execCommand("cut");
            };
            $scope.copy = function () {
                var textArea = document.getElementById("textArea");
                textArea.focus();
                document.execCommand("copy");
            };
            // $scope.paste = function () {
            //     var textArea = document.getElementById("textArea");
            //     textArea.focus();
            //     document.execCommand("paste");
            // };
            $scope.save = function () {
                $scope.savedText = $scope.text;
                var blob = new Blob([$scope.savedText], {type: "pdf/plain;charset=utf-8"});
                saveAs(blob, "myTextFile.pdf");
            };
            $scope.openFile = function () {
                var file = document.getElementById("fileInput").files[0];
                var reader = new FileReader();
                reader.onload = function (event) {
                    $scope.text = event.target.result;
                    $scope.$apply();
                };
                reader.readAsText(file);
            };
        });
    </script>
</body>

</html>